{% extends "web/base_in.html" %}

{% load staticfiles %}
{% load thumbnail %}


{% block css %}
<link href="{% static 'web/css/detail-page.css' %}" rel="stylesheet">
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container margin_detail">
  <div class="row">
    <div class="col-lg-8">
      <h1>{{ show_user.get_full_name }}</h1>

      

    </div>
    <!-- /col -->

    <div class="col-lg-4" id="sidebar_fixed">
      <div class="box_booking">
        <img title="profile picture" class="img-circle img-responsive"
          src="{% thumbnail show_user.profile.picture|default:'default_profile.png' 140x140 crop %}">
      </div>
      <!-- /box_booking -->

    </div>

  </div>
  <!-- /row -->
</div>
<!-- /container -->


{% endblock %}