{% extends "web/base_in.html" %}

{% load staticfiles %}
{% block css %}
<link href="{% static 'web/css/listing.css' %}" rel="stylesheet">
{% endblock %}

{% load crispy_forms_tags %}
{% block content %}

<div class="hero_single inner_pages background-image" data-background="url('web/img/home_section_1.jpg')">
  <div class="opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.6)">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-9 col-lg-10 col-md-8">
          <h1>About E-Learning</h1>
        </div>
      </div>
      <!-- /row -->
    </div>
  </div>
</div>
<!-- /hero_single -->



<div class="container margin_60_40">
  <h5 class="mb_5">About E-Learning</h5>
  <div class="row">
    <div class="col-md-12">

    </div>
    <!-- /col -->
  </div>
  <!-- /row -->
</div>
<!-- /container -->

{% endblock %}