{% extends "web/base_out.html" %}

{% load staticfiles %}

{% block css %}
<link href="{% static 'web/css/home.css' %}" rel="stylesheet">
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<div class="header-video">
  <div id="hero_video">
    <div class="opacity-mask d-flex align-items-center" data-opacity-mask="rgba(0, 0, 0, 0.6)">
      <div class="container">
        <div class="row justify-content-center text-center">
          <div class="col-xl-8 col-lg-10 col-md-8">
            <h1>Discover &amp; Learn</h1>
            <p>The best courses with best instructor</p>
            <form method="post" action="grid-listing-filterscol.html">
              <div class="row no-gutters custom-search-input">
                <div class="col-lg-6">
                  <div class="form-group">
                    <input class="form-control" type="text" placeholder="What are you looking for...">
                    <i class="icon_search"></i>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <input class="form-control no_border_r" type="text" placeholder="Categories...">
                    <i class="icon_list_alt"></i>
                  </div>
                </div>
                <div class="col-lg-2">
                  <input type="submit" value="Search">
                </div>
              </div>
              <!-- /row -->
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img src="{% static 'web/img/video_fix.png' %}" alt="" class="header-video--media"
    data-video-src="{% static 'web/video/intro' %}" data-teaser-source="{% static 'web/video/intro' %}" data-provider=""
    data-video-width="1920" data-video-height="960">
</div>
<!-- /header-video -->

<div class="container margin_60_40">
  {% if courses %}
  <div class="main_title">
    <span><em></em></span>
    <h2>Popular Courses</h2>
    <p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
    <a href="/courses">View All</a>
  </div>
  <!-- /main_title -->
  <div class="owl-carousel owl-theme carousel_4">
    {% for course in courses %}
    <div class="item">
      <div class="strip">
        <figure>
          <img src="{{course.photo.url}}" data-src="{% static 'web/img/location_1.jpg' %}" class="owl-lazy" alt="">
          <a href="{{ course.get_absolute_url }}" class="strip_info">
            <small>{{ course.category.title }}</small>
            <div class="item_title">
              <h3>{{ course.title }}</h3>
              <small>{{ course.byline }}</small>
            </div>
          </a>
        </figure>
        <!--./figure-->
        
      </div>
      <!--./strip-->
    </div>
    <!--./item-->
    {% endfor %}
  </div>
  <!-- /carousel -->
  {% endif %}

  <div class="banner lazy" data-bg="{% static 'web/img/banner_bg_desktop.jpg' %}">
    <div class="wrapper d-flex align-items-center opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.2)">
      <div>
        <small>E-Learning</small>
        <h3>More than 300 Courses</h3>
        <p>Book a table easly at the best price</p>
        <a href="/courses" class="btn_1">View All</a>
      </div>
    </div>
    <!-- /wrapper -->
  </div>
  <!-- /banner -->

</div>
<!-- /container -->
{% endblock %}