<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
{% load thumbnail %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Ansonika">
    <title>{% block title %}{% include "_brandname.html" %} :: {{ title }}{% endblock %}</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114"
        href="img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144"
        href="img/apple-touch-icon-144x144-precomposed.png">

    <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap" rel="stylesheet">

    <!--FONT AWESOME-->
    <script src="https://use.fontawesome.com/4aeeb38843.js"></script>

    <!-- BASE CSS -->
    <link href="{% static 'web/css/bootstrap_customized.min.css' %}" rel="stylesheet">
    <link href="{% static 'web/css/style.css' %}" rel="stylesheet">

    <!-- SPECIFIC CSS -->
    {% block css %}{% endblock %}

    <!-- YOUR CUSTOM CSS -->
    <link href="{% static 'web/css/color-blue.css' %}" rel="stylesheet">
    <link href="{% static 'web/css/custom.css' %}" rel="stylesheet">

</head>

<body>
    <header class="header clearfix element_to_stick">
        <div class="container">
            <div id="logo">
                <a href="/">
                    <img src="{% static 'web/img/logo-white.png' %}" width="140" height="35" alt="" class="logo_normal">
                    <img src="{% static 'web/img/logo-dark.png' %}" width="140" height="35" alt="" class="logo_sticky">
                </a>
            </div>
            
            <ul id="top_menu" class="drop_user">
                {% if user.is_authenticated %}
                <li>
                    <div class="dropdown user clearfix">
                        <a href="#" data-toggle="dropdown">
                            <figure><img src="{% static 'web/img/avatar1.jpg' %}" alt=""></figure>
                            {{ user.get_full_name|truncatechars:15 }}
                        </a>
                        <div class="dropdown-menu">
                            <div class="dropdown-menu-content">
                                <ul>
                                    <li><a href="#"><i class="fa fa-bar-chart-o"></i> Dashboard</a></li>
                                    <li><a href="{% url 'course:course_list' %}"><i class="fa fa-mortar-board"></i> My Courses</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a href="{% url 'profiles:show_self' %}"><i class="fa fa-user"></i> My Profile</a></li>
                                    <li><a href="{% url 'accounts:logout' %}"><i class="fa fa-sign-out"></i> Logout</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- /dropdown -->
                </li>
                {% else %}
                <li><a href="/login" class="login">Sign In</a></li>
                {% endif %}
            </ul>
            <!-- /top_menu -->
            <!-- /top_menu -->
            <a href="#0" class="open_close">
                <i class="icon_menu"></i><span>Menu</span>
            </a>
            <nav class="main-menu">
                <div id="header_menu">
                    <a href="#0" class="open_close">
                        <i class="icon_close"></i><span>Menu</span>
                    </a>
                    <a href="">
                        <img src="{% static 'web/img/logo-white.png' %}" width="140" height="35" alt="">
                    </a>
                </div>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/courses">Courses</a></li>
                    <li><a href="/about">About E-Learning</a></li>
                    <li><a href="/contact">Contact us</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <!-- /header -->

    <main>
        {% block content %}{% endblock %}
    </main>
    <!-- /main -->

    {% block footer %}
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <h3 data-target="#collapse_1">Quick Links</h3>
                    <div class="collapse dont-collapse-sm links" id="collapse_1">
                        <ul>
                            <li><a href="/about">About us</a></li>
                            <li><a href="#">Help</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Contacts</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <h3 data-target="#collapse_2">Categories</h3>
                    <div class="collapse dont-collapse-sm links" id="collapse_2">
                        <ul>
                            <li><a href="#">Categories</a></li>                   
                            <li><a href="#">Courses</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <h3 data-target="#collapse_3">Contacts</h3>
                    <div class="collapse dont-collapse-sm contacts" id="collapse_3">
                        <ul>
                            <li><i class="icon_house_alt"></i>P.O. Box 3297 <br>Morogoro, Tanzania</li>
                            <li><i class="icon_mobile"></i> (+255) 232 640 037</li>
                            <li><i class="icon_mail_alt"></i><a href="#0"> secretariat@sacids.org</a></li>
                        </ul>
                    </div>
                </div>
                
                <div class="col-lg-3 col-md-6">
                    <h3 data-target="#collapse_4">Keep in touch</h3>
                    <div class="collapse dont-collapse-sm" id="collapse_4">
                        <div id="newsletter">
                            <div id="message-newsletter"></div>
                            <form method="post" action="#" name="newsletter_form" id="newsletter_form">
                                <div class="form-group">
                                    <input type="email" name="email_newsletter" id="email_newsletter"
                                        class="form-control" placeholder="Your email">
                                    <button type="submit" id="submit-newsletter"><i
                                            class="arrow_carrot-right"></i></button>
                                </div>
                            </form>
                        </div>
                        <div class="follow_us">
                            <h5>Follow Us</h5>
                            <ul>
                                <li><a href="#0"><img
                                            src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                                            data-src="{% static 'web/img/twitter_icon.svg' %}" alt="" class="lazy"></a>
                                </li>
                                <li><a href="#0"><img
                                            src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                                            data-src="{% static 'web/img/facebook_icon.svg' %}" alt="" class="lazy"></a>
                                </li>
                                <li><a href="#0"><img
                                            src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                                            data-src="{% static 'web/img/instagram_icon.svg' %}" alt=""
                                            class="lazy"></a></li>
                                <li><a href="#0"><img
                                            src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                                            data-src="{% static 'web/img/youtube_icon.svg' %}" alt="" class="lazy"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /row-->
            <hr>
            <div class="row add_bottom_25">
                <div class="col-lg-6"></div>
                <div class="col-lg-6">
                    <ul class="additional_links">
                        <li><a href="#0">Terms and conditions</a></li>
                        <li><a href="#0">Privacy</a></li>
                        <li><span>© Africa CDC</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!--/footer-->
    {% endblock %}

    <div id="toTop"></div><!-- Back to top button -->

    <div class="layer"></div><!-- Opacity Mask Menu Mobile -->

    <!-- COMMON SCRIPTS -->
    <script src="{% static 'web/js/common_scripts.min.js' %}"></script>
    <script src="{% static 'web/js/slider.js' %}"></script>
    <script src="{% static 'web/js/common_func.js' %} "></script>

</body>

</html>