{% extends "web/base_in.html" %}

{% load staticfiles %}
{% block css %}
<link href="{% static 'web/css/booking-sign_up.css' %}" rel="stylesheet">
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container margin_60_40">
  <div class="row justify-content-center">
    <div class="col-lg-4">
      <div class="sign_up">
        <div class="head">
          <div class="title">
            <h3>Sign Up</h3>
          </div>
        </div>
        <!-- /head -->
        <div class="main">
          <a href="#0" class="social_bt facebook">Sign up with Facebook</a>
          <a href="#0" class="social_bt google">Sign up with Google</a>
          <div class="divider"><span>Or</span></div>
          <h6>Personal details</h6>

          {% block form %}
          {% crispy form %}

          <div class="form-message">
            <p>
              Already signed up? <a href="{% url 'accounts:login' %}">Log in</a>.
            </p>
          </div>
          {% endblock form %}
        </div>
      </div>
      <!-- /box_booking -->
    </div>
    <!-- /col -->

  </div>
  <!-- /row -->
</div>
<!-- /container -->

{% endblock %}