{% extends 'app/base.html' %}
{% load staticfiles %}

{% block reg_course_title %}
  <h1 class="text-display-1 margin-none">{{ course.title }}</h1>
{% endblock %}

{% block content %}
<div class="lesson_content">
  Lesson details
</div>
<div class="lesson_attr">
    <!-- Tabs -->
    <div class="course-tabs">
      <div class="item"><a href="#home"><i class="fa fa-fw fa-home"></i> Overview</a></div>
      <div class="item"><a href="#profile"><i class="fa fa-fw fa-user"></i> Q&A</a></div>
      <div class="item"><a href="#messages"><i class="fa fa-fw fa-envelope"></i> Announcements</a></div>
      <div class="item"><a href="#settings"><i class="fa fa-fw fa-cog"></i> Resources</a></div>
      <div class="item"><a href="#settings"><i class="fa fa-fw fa-cog"></i> Notes</a></div>
    </div>
    <!-- // END Tabs -->

    <!-- Panes -->
    <div class="course-pane">
        some itemms inside
    </div>
    <!-- // END Panes -->


</div>
{% endblock %}

