
.mix-blend{
    color: white;
    mix-blend-mode: difference;
}

.show-sidebar.sidebar-r3 #content{
    margin-right: 320px;
}

.sidebar-size-3{
    width: 320px;
}

.lesson_content{

    height: 60vh;
    width: 100%;
    background-color: brown;
}



.lesson_attr{
    padding: 0px 15px;
}
.course-tabs{
    display: flex;
    flex-wrap: nowrap;
    border-bottom: 1px solid rgb(179, 170, 170);
    
}
.course-tabs .item{
    padding: 12px;
    font-size: 1.1em;
    border-bottom: 4px solid transparent;
}
.course-tabs .item:hover{
    border-bottom: 4px solid rgb(22, 105, 126);
}

.course-pane{
    height: 80vh;
    padding: 10px 0px;
}