{% extends "web/base_in.html" %}

{% load staticfiles %}
{% block css %}
<link href="{% static 'web/css/listing.css' %}" rel="stylesheet">
{% endblock %}

{% load crispy_forms_tags %}
{% block content %}

<div class="page_header element_to_stick">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-7 col-md-7 d-none d-md-block">
                <div class="breadcrumbs">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li>Courses</li>
                    </ul>
                </div>
                <h1>{{course_list.count}} Courses</h1>
            </div>
            <div class="col-xl-4 col-lg-5 col-md-5">
                <div class="search_bar_list">
                    <form action="" method="GET" accept-charset="utf-8">
                        {% csrf_token %}
                        <input type="text" name="keyword" class="form-control" placeholder="Search course...">
                        <input type="submit" value="Search">
                    </form>
                </div>
                <!--./search_bar_list-->
            </div>
        </div>
        <!-- /row -->
    </div>
</div>
<!-- /page_header -->

<div class="container margin_30_40">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                {% for course in course_list %}
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                    <div class="strip">
                        <figure>
                            <img src="{{course.photo.url}}" data-src="{{course.photo.url}}" class="img-fluid lazy"
                                alt="">
                            <a href="{{ course.get_absolute_url }}" class="strip_info">
                                <small>{{ course.category.title }}</small>
                                <div class="item_title">
                                    <h3>{{ course.title }}</h3>
                                    <small>{{ course.byline }}</small>
                                </div>
                            </a>
                        </figure>
                    </div>
                </div>
                <!-- /strip grid -->
                {% endfor %}
            </div>
            <!-- /row -->
            {% if is_paginated %}
            <ul class="pagination margin-top-none">
                {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo;</a></li>
                {% endif %}
                {% for l in  page_obj.paginator.page_range %}
                {% if l <= page_obj.number|add:2 and l >= page_obj.number|add:-2 %}
                <li class="{% if l == page_obj.number %}active{% endif %}"><a
                        href="?page={{forloop.counter}}">{{forloop.counter}}</a></li>
                {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}" class="page-link">&raquo;</a></li>
                {% endif %}
            </ul>
            {% endif %}


        </div>
        <!-- /col -->
    </div>
</div>
<!-- /container -->

{% endblock %}