{% extends "web/base_in.html" %}

{% load staticfiles %}
{% block css %}
<link href="{% static 'web/css/detail-page.css' %}" rel="stylesheet">
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container margin_detail">
  <div class="row">
    <div class="col-lg-8">

      <div class="detail_page_head clearfix">
        <div class="breadcrumbs">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/courses">Courses</a></li>
            <li>{{ course.title }}</li>
          </ul>
        </div>

        <div class="title">
          <h1>{{ course.title }}</h1>
          <h6>{{ course.byline }}</h4>
            <ul class="tags">
              <li><a href="#0">{{ course.category.title }}</a></li>
            </ul>
        </div>
        <div class="rating">
          <div class="score"><strong>8.9</strong></div>
        </div>
      </div>
      <!-- /detail_page_head -->

      <ul class="share-buttons">
        <li><a class="fb-share" href="#0"><i class="social_facebook"></i> Share</a></li>
        <li><a class="twitter-share" href="#0"><i class="social_twitter"></i> Share</a></li>
        <li><a class="gplus-share" href="#0"><i class="social_googleplus"></i> Share</a></li>
      </ul>
      <hr />
      <h4>Description</h4>
      {{ course.description }}

      <div class="other_info">
        <h4>What you'll learn?</h2>
          <div class="row">
            <div class="col-md-12">

            </div>
            <!--./col-md-12-->
          </div>
          <!--./row-->
          <!-- /row -->
      </div>
    </div>
    <!-- /col -->

    <div class="col-lg-4" id="sidebar_fixed">
      <div class="box_booking">
        <!-- /head -->
        <div class="main">
          <h6>This course includes:</h6>
          <p><i class="fa fa-play"></i> 24 hours on-demand video</p>
          <p><i class="fa fa-cloud-download"></i> 1 downloadable resources</p>
          <p><i class="fa fa-question"></i> 2 quizzes</p>
          <p><i class="fa fa-clock-o"></i> Full time access</p>
          <p><i class="fa fa-certificate"></i> Certificate of completion</p>



          <div class="mt_4"></div>
          <a href="#0" class="btn_1 full-width mb_5">Take Course</a>
          <a href="#" class="btn_1 full-width outline wishlist">
            <i class="icon_heart"></i> Add to wishlist</a>
        </div>
      </div>
     
    </div>

  </div>
  <!-- /row -->
</div>
<!-- /container -->

{% endblock %}