{% extends "web/base_in.html" %}

{% load staticfiles %}
{% load thumbnail %}

{% block css %}
<link href="{% static 'web/css/detail-page.css' %}" rel="stylesheet">
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}

<div class="hero_in detail_page background-image" data-background="url('{{course.photo.url}}')">
  <div class="wrapper opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.5)">

    <div class="container">
      <div class="main_info">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12">
            <div class="head">
              <div class="score"><strong>{{ course.category.title }}</strong></div>
            </div>
            <h1>{{ course.title }}</h1>
            {{ course.byline }}
          </div>
        </div>
        <!-- /row -->
      </div>
      <!-- /main_info -->
    </div>
  </div>
</div>
<!--/hero_in-->

<div class="container margin_detail">
  <div class="row">
    <div class="col-lg-8">

      <div class="tabs_detail">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a id="tab-A" href="#pane-A" class="nav-link active" data-toggle="tab" role="tab">About</a>
          </li>

          <!-- <li class="nav-item">
            <a id="tab-B" href="#pane-C" class="nav-link" data-toggle="tab" role="tab">Reviews</a>
          </li> -->
        </ul>

        <div class="tab-content" role="tablist">
          <div id="pane-A" class="card tab-pane fade show active" role="tabpanel" aria-labelledby="tab-A">
            <div class="card-header" role="tab" id="heading-A">
              <h5>
                <a class="collapsed" data-toggle="collapse" href="#collapse-A" aria-expanded="true"
                  aria-controls="collapse-A">
                  Information
                </a>
              </h5>
            </div>
            <div id="collapse-A" class="collapse" role="tabpanel" aria-labelledby="heading-A">
              <div class="card-body info_content">

                <h2 class="text-left">Goal of the course</h2>
                <p>{{ course.goal }}</p>


                <h2 class="text-left">What you will learn</h2>
                <p>{{ course.what_you_learn }}</p>

                <h2 class="text-left">Requirements</h2>
                <p>{{ course.requirements }}</p>

                <h2 class="text-left">Who is this course for</h2>
                <p>{{ course.target_students }}</p>

                <h2 class="text-left">Description</h2>
                <p>{{ course.description }}</p>

              </div>
            </div>
          </div>
          <!-- /tab -->
        </div>
        <!-- /tab-content -->
      </div>
      <!-- /tabs_detail -->
    </div>
    <!-- /col -->

    <div class="col-lg-4" id="sidebar_fixed">
      <div class="box_booking">
        <div class="head">
          <h3 class="text-left">Course Summary</h3>
        </div>
        <!-- /head -->
        <div class="main">
          <h6>This course includes:</h6>
          <p><i class="fa fa-play"></i> 24 hours on-demand video</p>
          <p><i class="fa fa-cloud-download"></i> Downloadable resources</p>
          <p><i class="fa fa-question"></i> Quizzes</p>
          <p><i class="fa fa-clock-o"></i> Full time access</p>
          <p><i class="fa fa-certificate"></i> Certificate of completion</p>
          <hr />

          {% if user.is_authenticated %}
          {% if intakes %}
          <h3 class="text-left">Intakes</h3>
          <ul class="intakes">
            {% for intake in intakes %}
            <li>
              <div class="pt-2">Start Date : <span class="title">{{ intake.start_date|date:"M d, Y" }}</span></div>
              <div class="pt-2">End Date : <span class="title">{{ intake.end_date|date:"M d, Y" }}</span></div>
              <div class="pt-2"> Instructor : <span class="title">{{ intake.instructor.get_full_name|truncatechars:20 }}</span></div>

              <div class="pt-2">
                <form name="register_{{ intake.id }}" method="post" action="{{ request.build_absolute_uri }}">
                  {% csrf_token %}
                  <input type="hidden" name="path_id" value="{{ course.id }}" />
                  <input type="hidden" name="intake_id" value="{{ intake.id }}" />
                  <input type="submit" value="Enrole" class="btn_1 full-width mb_5" />
                </form>
              </div>
            </li>
            {% endfor %}
          </ul>
          {% endif %}
          {% else %}
          <a href="/login" class="btn_1 full-width mb_5">Login Now</a>
          {% endif %}
        </div>
      </div>
      <!-- /box_booking -->

      <ul class="share-buttons">
        <li><a class="fb-share" href="#0"><i class="social_facebook"></i> Share</a></li>
        <li><a class="twitter-share" href="#0"><i class="social_twitter"></i> Share</a></li>
        <li><a class="gplus-share" href="#0"><i class="social_googleplus"></i> Share</a></li>
      </ul>

    </div>

  </div>
  <!-- /row -->
</div>
<!-- /container -->


{% endblock %}